{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title> Log In </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    </head>

    <nav class="navbar navbar-light" style="background-color: #c2cebfe1;">
        <ul class="nav">
            
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'chat' %}">Chat</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" href="{% url 'logout' %}?next=/myapp/">Logout</a>
            </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
            </li>
            {% endif %}
          </ul>
          </nav>
<body>
    {% if user.is_authenticated %}
            <h3 id="user_greeting">Welcome, {{ request.user.first_name }}!</h3>
            <br>
        {% else %}
            <br>
        {% endif %}
        <div class="container text-center">
            <div class="row">
              <div class="col">
                Chat
              </div>
              <div class="col">
                Want to start a topic or group? 
              </div>
            </div>
          </div>
          </body>
</html>