{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title> Log In </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">


        
    </head>
    <nav class="navbar navbar-light" style="background-color: #c2cebfe1;">
        <ul class="nav">
            
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'chat' %}">Chat</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" href="{% url 'logout' %}?next=/myapp/">Logout</a>
            </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
            </li>
            {% endif %}
          </ul>
          </nav>
    <body>
            <center>
                <br>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Log In</h5>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
            <br>
            <button type="submit" class="btn btn-primary">Log In</button>
            </form>
            <p>Don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>
            </div>
            </div>
            </center>
    </body>
</html>


