{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title> Sign Up </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

        <nav>
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
              </ul>
            </nav>
            
    </head>
    <body>
        {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <p div class="alert alert-warning" role="alert"> {{ error }} </div></p>
            {% endfor %}
        {% endfor %}
    {% endif %}

<center>
    <br>
        <h2>Sign Up</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    <p> {{ field }}</p> 
                </div>
            {% endfor %}
            <button type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Log In</a></p>
        </center>
    </body>
</html>