{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title> Sign Up </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
        <nav class="navbar navbar-light" style="background-color: #c2cebfe1;">
            <ul class="nav">
                
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'chat' %}">Chat</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link" href="{% url 'logout' %}?next=/myapp/">Logout</a>
                </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                {% endif %}
              </ul>
              </nav>
            
    </head>
    <body>
        {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <p div class="alert alert-warning" role="alert"> {{ error }} </div></p>
            {% endfor %}
        {% endfor %}
    {% endif %}

<center>
    <br>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Sign Up</h5>
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    <p> {{ field }}</p> 
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Log In</a></p>
        </div>
        </div>
        </center>
    </body>
</html>


